#leftBarInner {
    text-align: center;
    overflow-y: scroll;
}

#rightBarInner {
    text-align: center;
    padding: 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
}

label {
    padding: 0px 5px;
    vertical-align: baseline;
}

input[type="radio"] {
    margin-right: 2.5px;
}